.customjson
{
    border: 2px solid red;
}

.customjson button.active {
    background-color: var(--highlight-background-color);
  }
  .customjson button.active:hover {
    background-color: var(--background-color-blue);
  }